AuthorizationLab/XMLFile.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SqlScripts">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Pre-Run"/>
        <xs:element name="Main-Run">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Stage" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="RelativePath" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="f-order" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:byte" name="s-order" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="Post-Run"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>